<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Yeni bir liste oluştur
      </h1>
  
      <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Liste adı giriniz">
      <br><br>
      <div class="buttons is-right">
        <button class="btn btn-primary is-medium" routerLink="/">İptal</button>
        <button class="btn btn-primary" (click)="createList(listTitleInput.value)">Oluştur</button>
      </div>
  
    </div>
  </div>