<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Yeni bir ürün ekle
    </h1>

    <input #productTitleInput class="input has-background-light is-medium" type="text" placeholder="Ürün adı giriniz">
    <br><br>
    <div class="buttons is-right">
      <button class="btn is-medium" routerLink="/">İptal</button>
      <button class="btn is-primary has-text-white is-medium" (click)="createProduct(productTitleInput.value)">Oluştur</button>
    </div>

    
  </div>
</div>