<div class="container">
	<div class="screen">
		<div class="screen__content">
			<div class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input #emailInput type="email" class="login__input" placeholder="Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input #passwordInput type="password" class="login__input" placeholder="Şifre">
				</div>
				<button class="button login__submit" (click)="onLoginButtonClicked(emailInput.value, passwordInput.value)">
					<span class="button__text" >GİRİŞ YAP</span>
					<i class="button__icon fas fa-chevron-right"></i>
    
				</button>				
			</div>
      <br> 
      <p class="has-text-grey"> <b>Henüz bir hesabın yok mu?</b><b> <a routerLink="/signup">Kayıt ol</a> </b></p>	
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

