    <div class="product-manager-container">
      <div class="product-list-container has-background-light">
        <div *ngIf="users">
          <div class="top-bar">
            <h1 class="title has-text-primary">
              KULLANICILAR
            </h1>
          </div>
          <div  class="product" *ngFor="let user of users"  >
            <div class="product-text">
              <p>{{ user.email }}</p>
            </div>
            <div class="product-buttons">

              <button class="btn btn-danger" (click)="onDeleteUserClick(user._id)" style="margin-left: 10px;">
                <div class="product-icon">
                  <i class="fas fa-trash"></i>
                </div>
              </button>
  
            </div>
          </div>
          <h3 class="empty-state-text" *ngIf="users.length === 0 || !users">Henüz kayıtlı bir kullanıcı yok</h3>
        </div>
      </div>
    </div>
     
